version: "3"

# Docker Compose YAML file for lighttpd

# build with:
# $ sudo docker-compose build

# start with:
# $ sudo docker-compose up

# after start, enter shell with:
# $ sudo docker exec -it lighttpddocker_lighttpd_1 ash

##################################

# # uncomment for basic testing
# services:
#   lighttpd:
#       image: lighttpd
#       container_name: lighttpd
#       build: .
#       restart: always
#       ports:
#         - "8082:80" # for testing purposes, (un)comment as required
#       volumes:
#         - ./htdocs:/var/www/localhost/htdocs
#         - ./etc/lighttpd:/etc/lighttpd

##################################

# # uncomment for dps and/or testing
# services:
#   lighttpd:
#       image: lighttpd
#       container_name: docker-container-4-name
#       hostname: docker-container-4.docker.devnet
#       build: .
#       restart: "no"
#       ports:
#         - "8084:80" # for testing purposes, (un)comment as required
#       volumes:
#         - ./htdocs:/var/www/localhost/htdocs
#         - ./etc/lighttpd:/etc/lighttpd

# networks:
#   default:
#     external:
#       name: docker.devnet


##################################

services:
  lighttpd:
      image: lighttpd
      container_name: lighttpd
      build: .
      #restart: always
      ports:
        - "8082:80" # for testing purposes, (un)comment as required
      volumes:
        - ../../Repositories/Heorot_Hugo/public:/var/www/localhost/htdocs
        # - ./htdocs:/var/www/localhost/htdocs
        - ./etc/lighttpd:/etc/lighttpd
      labels:
        - traefik.enable=true
        # - "traefik.frontend.rule=Host:lighttpd.scuar.home"
        # - "traefik.frontend.rule=Host:hugo.scuar.lan"
        - "traefik.frontend.rule=Host:scuar.lan; PathPrefixStrip:/hugo"
        - traefik.port=80
      networks:
        - scuar.dockernet

networks:
  scuar.dockernet:
    external: true
